root=true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

[*.{js,css}]
indent_style = tab
indent_size = 2

[*.{exs,ex}]
indent_style = space
indent_size = 2

[*.{jade,md}]
trim_trailing_whitespace = false

[*.{json,eslintrc,babelrc}]
indent_style = tab
indent_size = 2
